/*counter.css is a css file for counter.php*/
/*Cameron Kunz 9/5/2016*/

#userInput {
  margin: 0 auto;
  width: 250px;
}

#userValue {
  width: 30%;
}

#divCount {
  font-size: 1275%;
  margin: 0 auto;
  width: 100px;
  color: red;
}
